<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            color="accent">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side"
               style="min-width: 200px;"
               opened>
    <mat-nav-list class="p-2">
      <a *ngFor="let route of routes"
         mat-list-item
         [routerLink]="[route.path]"
         class="border-radius-10"
         routerLinkActive="active-link">
        <mat-icon>{{route.icon}}</mat-icon>
        <span class="ml-2">{{ route.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
