#container
{
  width: 100%;
	margin-left: auto;
  margin-right: auto;
  background-color: cadetblue;
  min-height: 725px;
}

p{
   /*display:inline-block;*/
   /* width:50%;
    min-width: 240px;*/
    max-width: 250px;
    min-width: 150px;
    /*min-width: 180px;*/
    padding:1em;
    background:hsla(67, 95%, 95%, 1);
    text-align: center;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: bold;
    height: 120px;
  }

  #two{
    border: inset 5px hsla(0, 95%, 35%, 1);
    margin-left: auto;
    margin-right: auto;
 }

 #three{
    border:dashed 5px hsla(0, 95%, 35%, 1);
    
 }

 h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  color: black;
  margin-bottom: 20px;
  padding-top: 10px;
  font-family: 'Chelsea Market', cursive;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:13px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Roboto Mono', monospace;
	font-size:12px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  align-self: auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.section-intro {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  width: 50%;
}