<app-top-bar></app-top-bar>

<div id="container">
  <h2>Twój koszyk</h2>
  <ng-container *ngIf="dishes.length != 0">
  <p class="cart-item" id = 'two'>
  <ng-container *ngFor="let product of dishes">
  
    <a>{{ product.name }}
    {{ product.price  }} zł
    <button class="myButton" (click)="removeProduct(product)">Usuń</button></a>
    <br>
   </ng-container>
  </p>
  
  <div *ngIf="sum != 0">
    <p id = 'three'>Suma: {{sum.toFixed(2)}} zł
      <a routerLink="/order">
        <button class="myButton">Zamawiam</button>
      </a>
    </p>
  </div>
</ng-container>
</div>
