<div id="container">
    <h2>Dania do wyboru:</h2>
    <!--<div class="Row">
        <div *ngFor="let product of dishes; let i = index;" class="Column">
            <h4>{{ product.name }}
            {{ product.price }} zł </h4>
            <p id="one">  
                <img src="{{product.image}}" style="width: 200px; height: 150px;">
                <button (click)="addToCart(product)" >
                Dodaj do zamówienia
            </button>
            </p>
            
        </div>
    </div> -->
    <div class="Row">
        <div *ngFor="let product of items; " class="Column">
            <h4>{{ product.name }}
            {{ product.price }} zł </h4>
            <p id="one">  
                {{product.description}} 
                <button (click)="addToCart(product)" >
                Dodaj do zamówienia
            </button>
            </p>
            
        </div>
    </div>
</div>
