<div (click)="logout()">
  Wyloguj
</div>

<div class="row" *ngIf="userClaims">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <span>Username: {{userClaims.UserName}}</span>
        <br>
        <span>Username: {{userClaims.LastName}}</span>
        <br>
      </div>
    </div>

  </div>
</div>

<h2>Zamówienia:</h2>
<div *ngFor="let order of orders">
    <h3>
        Suma: {{order.sum }}  <br>
        Status: {{order.status}} <br>
        Imię klienta: {{order.client.name}} <br>
        Nazwisko klienta: {{order.client.lastName}}
    </h3>
    <button (click)="confirm(order)" >
        Zatwierdź
      </button>
</div>