
  button{
      /*margin-left: 30%;*/
      width: 60%;
      font-weight: bold;
      margin-top: 5px;
      border: solid 1px black;
      min-height: 30px;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    color: black;
    margin-bottom: 20px;
}

  h3{
      /*margin-left: 30%;*/
      letter-spacing: normal;
  }

  p {
    margin-left: 25%;
    font-family: 'Roboto Mono', monospace;
  }
  
  .zam {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 280px;
  }

  #one {
    border: groove 5px hsla(0, 95%, 35%, 1);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    background:hsla(67, 95%, 95%, 1);
    min-height: 150px;
  }

  #two{
    border:dotted 5px hsla(0, 95%, 35%, 1);
  }
  #three{
     border:dashed 5px hsla(0, 95%, 35%, 1);
  }
  #wyloguj:hover
  {
    cursor:pointer;
  }
  #wyloguj
  {
    margin-top: 20px;
    margin-bottom: 20px;
    color:red;
    font-size: 18px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    border: solid 4px black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    background:hsla(67, 95%, 95%, 1);
    margin-bottom: 10px;
    min-width: 160px;
  }

  .container {
    display: flex;
    background-color: grey;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    width: 97px;
  }