<div id="container">
<div id="wyloguj" (click)="logout()">
  Wyloguj
</div>


<h2>Zamówienia:</h2>
<ng-container *ngFor="let order of orders" >
  <div *ngIf="order.status=='Złożone'" class="zam" id="one">
    
    <p>
        Data zamowienia: {{order.orderTime}} <br>
        Suma: {{order.sum }}  <br>

        Status: {{order.status}} <br>
        Imię klienta: {{order.client.name}} <br>
        Nazwisko klienta: {{order.client.lastName}}
     <br>
    <button (click)="confirm(order)" >
        Zatwierdź
      </button>
    </p>
    </div></ng-container>

    <ng-container *ngFor="let order of orders" >
      <div *ngIf="order.status!='Złożone'" class="zam" id="one">
        <p >
            Suma: {{order.sum }} PLN <br>
            Status: {{order.status}} <br>
            Imię klienta: {{order.client.name}} <br>
            Nazwisko klienta: {{order.client.lastName}}
         <br>
        <button (click)="confirm(order)" >
            Zatwierdź
          </button>
          <br>
        </p>
        </div></ng-container>
      </div>