<app-top-bar></app-top-bar>
<div class="container"><h2>Dania do wyboru:</h2>
<div class="flex-container">
        <div *ngFor="let product of menu">
            <h3>
                {{ product.name }}
                {{ product.price }} zł
            </h3> 
            <p id="one">  
                {{product.description}} 
                <br>
            <button class="myButton" (click)="addToCart(product)" >
                Dodaj do zamówienia
            </button>
        </p> 
    </div>
    </div>
</div>