

<div class="page" >
  <div class="flex-container" >


      <div class="menu__group"><a routerLink="/" class="menu__link">ThroughEats</a></div>
      <div class="menu__group"><a routerLink="/menu" class="menu__link">Menu</a></div>
      <div class="menu__group"><a routerLink="/cart" class="menu__link">Koszyk</a></div>
      <div class="menu__group"><a routerLink="/clientLogin" class="menu__link">Logowanie</a></div>


  </div>
</div> 
<!--<div>
<nav>
  <ul class="nav-flex-row">
    <li class="nav-item">
      <a routerLink="/">ThroughEats</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dishes">Menu</a>
    </li>
    <li class="nav-item">
      <a routerLink="/cart">Koszyk</a>
    </li>
    <li class="nav-item">
      <a href="#login">Logowanie</a>
    </li>
  </ul>
</nav>
</div>-->
 
