<div class="flex-container">
<div class="page">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group"><a class="menu__link">Menu</a></li>
        <li class="menu__group"><a class="menu__link">Cennik</a></li>
        <li class="menu__group"><a routerLink="/" class="menu__link">ThroughEats</a></li>
        <li class="menu__group"><a routerLink="/cart" class="menu__link">Koszyk</a></li>
        <li class="menu__group"><a class="menu__link">Logowanie</a></li>
      </ul>
    </nav>
</div>
 </div>
