<!--<div class="container">
    <div class="option">Menu</div>
    <div class="option">Cennik</div>
    <div class="option">
        <a routerLink="/">ThroughEats</a>
    </div>
    <div class="option">
        <a routerLink="/cart">Koszyk</a>
    </div>
    <div class="optionLast">Logowanie</div>
</div> -->

<div class="page">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group"><a href="#0" class="menu__link">Menu</a></li>
        <li class="menu__group"><a href="#0" class="menu__link">Cennik</a></li>
        <li class="menu__group"><a href="#0" class="menu__link"><a routerLink="/">ThroughEats</a></a></li>
        <li class="menu__group"><a href="#0" class="menu__link"><a routerLink="/cart">Koszyk</a></a></li>
        <li class="menu__group"><a href="#0" class="menu__link">Logowanie</a></li>
      </ul>
    </nav>
  </div>
 
