/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  display: block;
  height: inherit;
  width: inherit;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, .12);
}

.mat-sort-header {
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, .12);
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
}

a:focus, a:active:focus, a.active:focus {
  outline: none !important;
}
