/* You can add global styles to this file, and also import other style files */

/*html, body {
  height: auto;
  overflow: visible;
  background-image: url('assets/img/bananas.png');
  //background-image: url('assets/img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg');
}


router-outlet + * {
  display: block;
  height: inherit;
  width: inherit;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, .12);
}

.mat-sort-header {
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, .12);
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
}

a:focus, a:active:focus, a.active:focus {
  outline: none !important;
}*/

.flex-logo {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 30px 20px;
  justify-content: center;
}

.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    font-size: 15px;
    text-align: center;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-flex h3 {
  font-size: 25px;
  text-align: center;
}

